/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 基础样式：设置字体、页面宽高和隐藏水平滚动 */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #E6F5F7;
}

/* 链接样式：去掉默认下划线 */
a {
    text-decoration: none;
}
/*不显示小圆点*/
li {
    list-style: none;
}

/*顶部导航栏*/
header {
    /*background-color: #333;*/
    position: fixed;
    width: 100%;
    color: black;
    background-color: White;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

.navigation {
    list-style: none;
    display: flex;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    font-size: 16px;
    line-height: 20px;
    background-color: rgba(255,255,255,1);
    color: rgba(16,16,16,1);
    font-size: 14px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;

}

.search-bar input[type="text"] {
    padding: 5px 10px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: rgba(239,239,239,1);
    color: rgba(136,136,136,1);
    font-size: 14px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;

    width: 40px;
    height: 40px;
    background-color: rgba(239,239,239,1);
}
.search-bar button img {
    width: 25px;
    height: 22px;
}


.publish-btn {
    width: 97px;
    height: 40px;
    line-height: 20px;
    border-radius: 4px;
    background-color: rgba(255,255,255,1);
    color: rgba(125,182,191,1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(34,191,167,1);
}

.login-register a {
    width: 84px;
    height: 60px;
    line-height: 20px;
    color: rgba(16,16,16,1);
    font-size: 14px;
    text-align: center;
}

.navbar-menu img{
    width: 24px;
    height: 24px;
}
/*简历预览*/
#title{
    display:flex;
    justify-content: space-between;
}
#title button {
        padding: 3px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background: rgba(125, 182, 191, 1);
        color: white;
        margin:10px;
        white-space: nowrap;
}
#title a{
    color:white;
}
#title button:hover {
        background: #377F7F;
}
#main-block{
    padding-top:10%;
}
.resume-preview {
    margin: 20px auto; /* 自动margin确保垂直居中 */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* 设置最大宽度，防止内容过宽 */
}


.profile {
    display: fixed;
    align-items: center;
    margin-bottom: 20px;
}

.info {
    display: fixed;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.info h2 {
    margin: 15px auto;
    padding-left:150px;
    display:fixed;
    font-size: 2.5em;
}

.info span {
    margin: 5px 40px;
}

.section {
    margin-bottom: 20px;
    padding: 10px;
    background: #E6F5F7;
    border-radius: 5px;
    border-left: 4px solid #54BCBD;
}

.section h3 {
    margin-top: 0;
    color: #377F7F;

}

.detail{
    padding-bottom:20px;
}

#showThis {
        padding: 3px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background: rgba(125, 182, 191, 1);
        color: white;
        margin:10px;
        white-space: nowrap;
}
#showThis a{
    color:white;
}
#showThis:hover {
        background: #377F7F;
}