<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>简历布局</title>
  <link rel="stylesheet" href="../../static/css/editCSS.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="../../static/icon/LogoIcon.svg" alt="Logo">
            </div>
            <ul class="navigation">
                <li><a href="#">首页</a></li>
                <li><a href="#">组队</a></li>
                <li><a href="#">人才</a></li>
                <li><a href="#">任务</a></li>
            </ul>
            <div class="search-bar">
                <input type="text" placeholder="搜索...">
                <button type="submit"><img src="../../static/icon/搜索.svg" alt="搜索"></button>
            </div>
            <button class="publish-btn">发布</button>
            <div class="login-register">
                <a href="#">登录 / 注册</a>
            </div>
            <div class="navbar-menu" id="sidebarToggle">
                <img src="../../static/icon/菜单_o.svg" alt="菜单">
            </div>
        </nav>
    </header>
    <div id="main-block">
        <form class="resume-form" id="resume_form">
            <div class="info">
                <div class="form-group">
                    <label for="name">姓名：</label>
                    <input type="text" id="name" placeholder="请输入内容">
                </div>
<!--                <div class="form-group">-->
<!--                    <label>性别：</label>-->
<!--                    <input type="radio" name="gender" value="male"> 男-->
<!--                    <input type="radio" name="gender" value="female"> 女-->
<!--                </div>-->
                <div class="form-group">
                    <label for="college">学校：</label>
                    <input type="text" id="college" placeholder="请输入内容">
                </div>
                <div class="form-group">
                    <label for="major">专业：</label>
                    <input type="text" id="major" placeholder="请输入内容">
                </div>
                <div class="form-group">
                    <label for="phone">电话：</label>
                    <input type="text" id="phone" placeholder="请输入内容">
                </div>
                <div class="form-group">
                    <label for="email">邮箱：</label>
                    <input type="email" id="email" placeholder="请输入内容">
                </div>

                <div class="form-group">
                    <label for="position">期望职位</label>
                    <input type="text" id="position" placeholder="请输入内容">
                </div>
                <div class="form-group">
                    <label for="advantages">个人优势</label>
                    <textarea id="advantages" placeholder="请输入"></textarea>
                </div>
                <div class="form-group">
                    <label for="experience">个人经历</label>
                    <textarea id="experience" placeholder="请输入"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <a href="resume.html"><button class="btn-exit">退出</button></a>
                <button class="btn-save" type="submit">保存</button>
            </div>
        </form>
    </div>
    <script src="js/resumeEdit.js"></script>
<!--    退出按钮-->
    <script>
        const btnExit = document.querySelector('.btn-exit');
        btnExit.addEventListener('click', function () {
        localStorage.removeItem('resumeData');
        window.location.href = 'resume.html';
        });
    </script>
</body>
</html>