<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线个人简历</title>
    <link rel="stylesheet" href="../../static/css/jianliCSS.css">
</head>
<body>

<!-- 顶部导航栏 -->
<header>
    <nav class="navbar">
        <div class="logo">
            <img src="../../static/icon/LogoIcon.svg" alt="Logo">
        </div>
        <ul class="navigation">
            <li><a href="#">首页</a></li>
            <li><a href="#">组队</a></li>
            <li><a href="#">人才</a></li>
            <li><a href="#">任务</a></li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="搜索...">
            <button type="submit"><img src="../../static/icon/搜索.svg" alt="搜索"></button>
        </div>
        <button class="publish-btn">发布</button>
        <div class="login-register">
            <a href="#">登录 / 注册</a>
        </div>
        <div class="navbar-menu" id="sidebarToggle">
            <img src="../../static/icon/菜单_o.svg" alt="菜单">
        </div>
    </nav>
</header>
<!--主体板块-->
<div class="main-block">
    <!--左侧栏-->
    <div class="left-block">
        <div class="left1">
            <div class="left1-title">
                <span>简历目录</span>
            </div>
            <button class="left1-button1">
            </button>
        </div>
    </div>
    <!--中间简历部分-->
    <div class="middle-block">
    </div>
    <!--右侧栏-->
    <div class="right-block">
    </div>
</div>
</body>

</html>